<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>Key</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>General Setting</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Background Color </string>
			<key>Key</key>
			<string>defaultBackgroundColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Key Color</string>
			<key>Key</key>
			<string>defaultKeyColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color</string>
			<key>Key</key>
			<string>defaultTextColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Special Key&apos;s Color </string>
			<key>Key</key>
			<string>specialKeysColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Custom Setting</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Hidden Keys</string>
			<key>Key</key>
			<string>visibleKeys</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Option 1 :</string>
			<key>Key</key>
			<string>charsetOne</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Charset_1</string>
			<key>Key</key>
			<string>charsetOne</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Key Color </string>
			<key>Key</key>
			<string>charsetOneKeyColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color </string>
			<key>Key</key>
			<string>charsetOneTextColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Option 2 :</string>
			<key>Key</key>
			<string>charsetOne</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Charset_2</string>
			<key>Key</key>
			<string>charsetTwo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Key Color </string>
			<key>Key</key>
			<string>charsetTwoKeyColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color </string>
			<key>Key</key>
			<string>charsetTwoTextColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Option 3 :</string>
			<key>Key</key>
			<string>charsetOne</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Charset_3</string>
			<key>Key</key>
			<string>charsetThree</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Key Color </string>
			<key>Key</key>
			<string>charsetThreeKeyColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Text Color </string>
			<key>Key</key>
			<string>charsetThreeTextColor</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Titles</key>
			<array>
				<string>Red</string>
				<string>Green</string>
				<string>Blue</string>
				<string>Black</string>
				<string>White</string>
				<string>Gray</string>
				<string>Yellow</string>
				<string>Orange</string>
			</array>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
